@import "../variables.scss";
.agency {
  &__header {
    padding-top: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
    @media (max-width: 802px) {
      padding-top: 30px;
    }
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .mobile-hamburger {
      display: none;
      background-color: transparent;
      border: none;
      font-size: 25px;
      outline: none;
      cursor: pointer;
      color: $deep-blue;
      @media (max-width: 802px) {
        display: inline-block;
      }
    }
  }
  &__nav {
    display: flex;
    align-items: center;

    @media (max-width: 802px) {
      position: fixed;
      display: block;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-color: $blue;
      color: #fff;
      top: 0;
      overflow: hidden;
      opacity: 0;
      transition: opacity 300ms;
      padding-top: 80px;
      &.show {
        opacity: 1;
        z-index: 100;
        .agency__nav-item {
          pointer-events: all;
          transform: translate(0px, 0px);
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    .close {
      display: none;
      position: absolute;
      top: 15px;
      right: -10px;
      font-size: 40px;
      width: 100px;
      color: #fff;
      @media (max-width: 802px) {
        display: inline-block;
      }
    }

    &-item {
      margin-left: 40px;
      text-decoration: none;
      color: $blue;
      font-weight: 500;
      @media (max-width: 802px) {
        width: 100%;
        display: block;
        color: #fff;
        text-align: center;
        padding: 20px;
        font-size: 30px;
        pointer-events: none;
        transform: translate(0px, -30px);
        transition: 200ms 100ms ease;
        margin-left: 0;
      }
    }
    .project-btn {
      margin-left: 60px;
      @media (max-width: 802px) {
        background-color: #fff;
        color: $blue;
        margin-left: auto;
        margin-right: auto;
        margin-left: calc(50% - 50px);
      }
    }
  }
  &__home {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 80vh;
    z-index: 10;
    // overflow: hidden;

    .hero-img {
      position: absolute;
      right: -50px;
      width: 55%;
      top: -50px;
      object-fit: cover;
      height: 100vh;
      z-index: 8;
      @media (max-width: 1086px) {
        display: none;
      }
    }
    &-bg-text {
      position: absolute;
      transform: rotate(-90deg);
      font-size: 143px;
      color: $blue;
      opacity: 0.1;
      font-family: Graphie;
      font-weight: bolder;
      left: -210px;
      @media (max-width: 1500px) {
        display: none;
      }
      @media (max-width: 1250px) {
        display: none;
      }
    }
    &-text {
      width: 100%;
      @media (max-width: 1086px) {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      &-heading {
        font-family: Graphie;
        font-size: 140px;
        line-height: 0.8;
        color: $blue;
        margin-bottom: 44px;
        font-weight: bolder;
        left: 0;
        @media (max-width: 600px) {
          font-size: 90px;
          margin-top: -20px;
        }
      }
      &-sub-heading {
        display: flex;
        color: $deep-blue;
        font-weight: bold;
      }
      .play-btn {
        border-radius: 70px;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        cursor: pointer;
        img {
          width: 20px;
        }
      }
    }
  }
  &__services {
    min-height: 80vh;
    position: relative;
    background-color: $blue;
    margin-top: 40px;
    background: $blue;
    overflow-x: hidden;
    margin-top: -100px;

    &::before {
      min-height: 80vh;
      position: absolute;
      top: 0;
      width: 100%;
      content: "";
      z-index: 1;
      background: url("/small_dots.svg");
      opacity: 0.2;
    }
    &-container.override {
      padding: 150px 50px 150px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      color: #fff;
      grid-gap: 80px 30px;
    }
    &-heading {
      color: #fff;
      font-size: 80px;
      line-height: 0.8;
      grid-column: 1 / -1;
      margin-bottom: 0;
      @media (max-width: 600px) {
        font-size: 45px;
        margin-top: -20px;
      }
    }
  }
  &__service {
    display: flex;
    align-items: flex-start;
    img {
      margin-right: 20px;
      margin-top: 5px;
    }
    &-heading {
      margin: 0;
    }
    p {
      margin-top: 5px;
      max-width: 250px;
    }
  }
  &__team {
    color: #bebebe;
    padding: 100px 0;
    overflow-x: hidden;
    &-sub-heading {
      font-family: Graphie;
      text-align: center;
      font-weight: bold;
    }
    &-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 30px 30px;
      position: relative;
    }
    &-member {
      text-align: center;
      position: relative;
      z-index: 8;
      &-img {
        &-1 {
          background-color: #ffc5b8;
        }
        &-2 {
          background-color: #ff5630;
        }
        &-3 {
          background-color: #3e4863;
        }
        box-shadow: 0 20px 25px rgba(0, 0, 0, 0.16);
        img {
          width: 100%;
          object-fit: none;
          min-height: 500px;
          object-fit: cover;
        }
      }
      &-name {
        color: $blue;
        font-size: 18px;
        font-weight: bolder;
      }
      &-desc {
        max-width: 250px;
        margin: 0 auto;
      }
      .socials {
        svg {
          fill: $gray;
          width: 18px;
          margin-right: 25px;
        }
      }
      // background-color: #FF5630;
    }
    &-bg-team-text {
      position: absolute;
      color: $blue;
      font-size: 300px;
      top: -250px;
      font-family: Graphie;
      left: -110px;
      opacity: 0.1;
      font-weight: bolder;
    }
    .team-big-dots {
      position: absolute;
      right: -480px;
      top: -120px;
      width: 600px;
      @media (max-width: 600px) {
        display: none;
      }
    }
    .team-btn {
      margin-top: 40px;
      padding: 18px 45px;
      font-weight: 500;
      cursor: pointer;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.16);
    }
    &-heading {
      color: #502eff;
      text-align: center;
      font-weight: bolder;
      font-size: 30px;
      line-height: 1.1;
      margin-bottom: 120px;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      font-family: Graphie;
      @media (max-width: 600px) {
        font-size: 25px;
      }
    }
  }

  &__contact {
    .center-form {
      display: flex;
      justify-content: center;
      @media (max-width: 508px) {
        flex-direction: column;
      }
    }
    &-container.override {
      max-width: 600px;
      background: url(/shapes.svg) no-repeat;
      background-size: cover;
      padding-top: 10px;
      // background-position: 0px -100px;

      min-height: 200px;
      .input-wrapper {
        input {
          padding: 10px 40px;
          border-radius: 40px;
          min-width: 363px;
          border: 4px solid #502eff;
          color: $blue;
          outline: none;
          @media (max-width: 508px) {
            min-width: 100%;
          }
          &::placeholder {
            color: $blue;
          }
        }
        button {
          text-transform: lowercase;
          padding: 8px 30px;
          margin-left: 20px;
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.16);
          @media (max-width: 508px) {
            padding: 18px 45px;
            font-weight: 500;
            text-transform: uppercase;
            margin-left: auto;
            margin-right: auto;
            display: inherit;
            min-width: 150px;
            margin-top: 20px;
          }
        }
      }
    }
    &-heading {
      color: $blue;
      text-align: center;
      font-weight: bolder;
      font-size: 30px;
      line-height: 1.1;
      margin-bottom: 50px;
      max-width: 400px;
      font-family: Graphie;
      margin-left: auto;
      margin-right: auto;
      @media (max-width: 600px) {
        font-size: 25px;
      }
    }
    &-sub-heading {
      font-family: Graphie;
      text-align: center;
      font-weight: bold;
      color: $gray;
      text-transform: capitalize;
    }
  }

  &__footer {
    background: #faf7ff url("/footer_bg.svg");
    background-size: cover;
    padding: 100px 0;
    border: 4px solid #faf7ff;

    &-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 30px 80px;
    }
    &-group {
      color: $blue;
      font-weight: 500;
      &-heading {
        color: $deep-blue;
        font-size: 16px;
        margin-top: 0;
      }
      p {
        opacity: 0.5;
      }
      .socials {
        display: flex;
        align-items: center;
        svg {
          margin-right: 20px;
          width: 22px;
          fill: $blue;
          opacity: 0.5;
        }
      }
    }
  }
}
